<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Flat HTML5/CSS3 Login Form</title>
</head>

<body>
  <div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" name="username" [(ngModel)]="username" placeholder="username"/>
      <input type="password" name="password" [(ngModel)]="password" placeholder="password"/>
      <button (click)="login()">login</button>
      <h3 *ngIf="errorMessage">{{errorMessage}}</h3>
    </form>
  </div>
</div>
    <script src="assets/js/login.js"></script>
</body>
</html>
