<section class="banner" role="banner">
    <header id="header">
      <div class="header-content clearfix"> <a class="logo" href="index.html"><img src="assets/images/logo.png" alt=""></a>
        <nav class="navigation" role="navigation">
          <ul class="primary-nav">
            <li>
              <div>{{contact.phone1}}</div>
              <div>{{contact.phone2}}</div>
            </li>
            <li><a href="mainlto:hello@phdl.co">{{contact.email}}</a></li>
          </ul>
        </nav>
        <a href="#" class="nav-toggle">Menu<span></span></a> </div>
    </header>
  </section>