<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


<div id="make-3D-space">
    <div id="product-card">
        <div id="product-front">
            <img class="img-responsive image-detail" style="cursor: pointer" (click)="showProductInfor()" src="assets/images/product/{{product.parent_image}}"
                alt="" />
            <div class="stats">
                <div class="stats-container">
                    <div>
                        <span class="product_price">{{product.price}}</span>
                        <span class="product_name">{{product.name}}</span>
                        
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                                <div>{{product.product_id}}</div>
                                <div class="product-description">{{product.description}}</div>
                        </div>
                        <div class="col-xs-4">
                            <div class="product_detail" style="cursor:pointer" (click)="showProductInfor()">Chi tiết</div>
                            <div class="product_detail" style="cursor:pointer">
                                <a target="_blank" href="{{product.video_url}}" *ngIf="product.video_url">Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<product-popup [product]="product" [(showModal)]="showModal"></product-popup>