<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>


<div id="make-3D-space">
    <div id="product-card">
        <div id="product-front">
            <img class="img-responsive" src="assets/images/product/{{product.parent_image}}" alt="" />
            <div class="stats">
                <div class="stats-container">
                    <div>
                            <span class="product_price">{{product.price}}</span>
                            <span class="product_name">{{product.name}}</span>
                    </div>
                    <div>
                            <span class="product_detail" style="cursor:pointer" (click)="showProductInfor()">Chi tiết</span>
                            <span class="product-description">{{product.description}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<product-popup [product]="product" [(showModal)]="showModal"></product-popup>