<app-header [contact]="contact" ></app-header>

<!-- header top section -->
<!-- header content section -->
<section id="hero" class="section ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 hero">
          <h2>{{contact.title1}}</h2>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 hero">
          <p>{{contact.introduction1}}</p>
      </div>
    </div>
  </div>
</section>
<!-- header content section -->
<!-- portfolio grid section -->
<section id="portfolio">
  <div class="container">
    <hr />
    <div class="row">
      <div class="col-xs-12 col-sm-6 portfolio-item" *ngFor="let category of categories">
        <a [routerLink]="['/category', category.id]"  class="portfolio-link">
          <div class="caption">
            <div class="caption-content">
              <h3>{{category.name}}</h3>
              <h4>{{category.description}}</h4>
            </div>
          </div>
          <img src="{{category_url}}{{category.image}}" class="img-responsive" alt=""> </a>
      </div>
    </div>
  </div>
</section>
<!-- portfolio grid section -->
<!-- service section -->
<!-- <section id="service" class="service section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <h4>We're expert to create beautiful design & smart technology</h4>
        <p>Nullam at enim mauris. Donec et nunc ipsum. Suspendi tempus fringilla ipsu Cras metus euismod velit gravida at nunc
          ipsum.</p>
      </div>
      <div class="col-md-7 col-sm-6">
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-browser"></span>
          <div class="service-content">
            <h5>Web & Mobile</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-trophy"></span>
          <div class="service-content">
            <h5>Branding</h5>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 service text-center"> <span class="icon icon-megaphone"></span>
          <div class="service-content">
            <h5>Digital Marketing</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- service section -->
<!-- footer section -->
<app-footer [contact]="contact"></app-footer>
<!-- footer section -->