<div id="user" class="tab-pane fade active in">
    <form *ngIf="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)" class="form-admin-contact">
      <div class="form-group">
        <label for="title1">Title:</label>
        <input type="text" formControlName="title1" class="form-control" id="title1">
      </div>
      <div class="form-group">
        <label for="introduction1">Introduction1:</label>
        <input type="text" formControlName="introduction1" class="form-control" id="introduction1">
      </div>
      <div class="form-group">
        <label for="introduction2">Introduction2:</label>
        <input type="text" formControlName="introduction2" class="form-control" id="introduction2">
      </div>
      <div class="form-group">
          <label for="slogan">Slogan:</label>
          <input type="text" formControlName="slogan" class="form-control" id="slogan">
        </div>
      <div class="form-group">
        <label for="phone1">Phone1</label>
        <input type="phone" formControlName="phone1" class="form-control" id="phone1">
      </div>
      <div class="form-group">
        <label for="phone2">Phone2</label>
        <input type="phone" formControlName="phone2" class="form-control" id="phone2">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="phone" formControlName="email" class="form-control" id="email">
      </div>
      <div class="form-group">
          <label for="email">Facebook</label>
          <input type="phone" formControlName="facebook" class="form-control" id="facebook">
        </div>
        <div class="form-group">
            <label for="email">Youtube</label>
            <input type="phone" formControlName="youtube" class="form-control" id="youtube">
          </div>
          <div class="form-group">
              <label for="email">Googleplus</label>
              <input type="phone" formControlName="googleplus" class="form-control" id="googleplus">
            </div>
      <div *ngIf="contactForm.invalid">
          <h4 class="error">{{errorMessage}}</h4>
        </div>
      <button type="submit" class="submit">Update</button>
    </form>
  </div>