<footer class="footer">
    <div class="container">
      <div class="col-md-4 left">
        <h4>{{contact.slogan}}</h4>
        <p> Call: {{contact.phone1}} OR {{contact.phone2}} Email : <a href="mailto:{{contact.email}}"> {{contact.email}} </a></p>
      </div>

      <div class="col-md-4 service text-center">
        <span class="icon icon-browser"></span>
        <span class="icon icon-trophy"></span>
        <span class="icon icon-megaphone"></span>
      </div>

      <div class="col-md-4 right">
        <p>{{contact.introduction2}}</p>
      </div>
    </div>
  </footer>