<footer class="footer">
    <div class="container">
      <div class="col-md-6 left">
        <h4>{{contact.slogan}}</h4>
        <span>
          <a href="{{contact.facebook}}" target="_blank">
              <img class="logo"  src="assets/images/facebook.png" />
          </a>
          <a href="{{contact.youtube}}" target="_blank">
              <img class="logo" src="assets/images/youtube.png" />
          </a>
          <a href="{{contact.googleplus}}" target="_blank">
              <img class="logo" src="assets/images/ggplus.png" />
          </a>
        </span>
      </div>
      <div class="col-md-6 right">
        <p>{{contact.introduction2}}</p>
      </div>
    </div>
  </footer>