
<app-header [contact]="contact"></app-header>
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="section">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 portfolio-item" *ngFor="let product of productLazyLoading; trackBy: trackByFn" >
        <product-detail [product]="product"></product-detail>
      </div>
    </div>
    <div class="row" style="padding-left: 50%">
      <button class="show-more" (click)="getProductLazy()" *ngIf="!(counter >= productByCategory.length)">
        Tải thêm
      </button>
    </div>
  </div>
</section>
<app-footer [contact]="contact"></app-footer>

