
<app-header [contact]="contact"></app-header>
<!-- header content section -->
<section id="hero" class="section ">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6 hero">
          <div class="hero-content">
            <h1>{{contact.title1}}</h1>
          </div>
          <!-- hero -->
        </div>
        <div class="col-md-5 col-sm-6 hero">
          <div class="hero-content">
            <p>{{contact.introduction1}}</p>
          </div>
          <!-- hero -->
        </div>
      </div>
    </div>
  </section>
    <!--https://codepen.io/virgilpana/pen/RNYQwB -->
<app-footer></app-footer>