
<app-header [contact]="contact"></app-header>
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="section">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item" >
        <product-detail></product-detail>
      </div>
      <div class="col-sm-4 portfolio-item" >
        <product-detail></product-detail>
      </div>
      <div class="col-sm-4 portfolio-item" >
        <product-detail></product-detail>
      </div>
      <div class="col-sm-4 portfolio-item" >
        <product-detail></product-detail>
      </div>
      <div class="col-sm-4 portfolio-item" >
        <product-detail></product-detail>
      </div>
      <div class="col-sm-4 portfolio-item" >
        <product-detail></product-detail>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>